.selection {
    height: 200px;
    width: 200px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.scoreboard > p {
    border: 3px solid black;
    padding: 8px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}